# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#virtual setup
venv/
input/*.csv
input/*.xlsx
output/*.csv
output/*.xlsx
__pycache__/
.idea/
.DS_Store